@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');



article {
  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div {

    cursor: default;
}
.center {

    
    margin-left: 30px;
    margin-right: 30px;
}

.text {
    
    text-align: left;
    font-size: 35px;
}

.enter {

    margin-top: 5px;
}

.question {

    font-weight: 800;
}

.hyperlink {

    color: #F3D250;
    text-decoration: none;
    list-style-type: none;
    
}

.hyperlink:hover {

    text-decoration: none;
    color: #ECECEC;
    cursor: pointer;
}