@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');



article {
  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div {

    cursor: default;
}
.center {

    
    margin-left: 75px;
    margin-right: 75px;
}

.text {
    
    text-align: center;
    font-size: 32px;
}

.margin {

    margin-bottom: 60px;
    margin-top:30px;
}


.hyperlink {

    color: #F3D250;
    text-decoration: none;
    list-style-type: none;
    
}

.hyperlink:hover {

    text-decoration: none;
    color: #ECECEC;
    cursor: pointer;
}