@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');

form { 

  height: 100vh;
  max-width:420px; 
  margin:50px auto; 
}

.feedback-input {
  color:black;
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #ECECEC;
  border:2px solid #ECECEC;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #F3D250; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  
}

[type="submit"] {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  background:#ECECEC;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:600;
}

[type="submit"]:hover { background:#F39237; }

.container {

  font-size: large;
  text-align: center;
}

.margin-top {

  margin-top:20vh;
}

.contact-text {

  font-size: 40px;
}

/* -- Alert after sending the message -- */
.alert {
  padding: 20px;
  background-color: #51CB20;
  color: #ECECEC;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}