@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');


/* BASICS -- */

body { 

  min-height: 100vh; 
  margin: 0; 
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

::-webkit-scrollbar { 
  display: none; 
}

/* HEADER --TOPNAV */

header {
  
  background:#ECECEC; 
}

header ul {

  color: #070707;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

header ul li.left {

  
  text-align: center;
  float: left;
  font-size: 17px;
}

.mid {

  place-items: center;  
  text-align: center;
  float:none;
  cursor: default;
  font-size: 30px;
}

header ul li.right {

  text-align: center;
  float: right;
  font-size: 17px;
}

header ul li a {
  display: block;
  color: #070707;
  cursor: pointer;    
  text-decoration: none;
  padding: 14px 16px;
  word-spacing: 30px;
}

header ul li a {

  width: 40px;
  background-color: #ECECEC;
  transition: width 0.25s, background-color 0.25s;
}

header.home ul li a.home {

  width: 100px;
  background-color: #F78888;
}

header ul li a.home:hover {

  width: 100px;
  background-color: #F78888;
}

header.projects ul li a.projects {
  
  width: 100px;
  background-color: #F3D250;
}

header ul li a.projects:hover {

  width: 100px;
  background-color: #F3D250;

}

header.about ul li a.about {
  
  width: 100px;
  background-color: #90CCF4;
}

header ul li a.about:hover {

  width: 100px;
  background-color: #90CCF4;
}

header.contact ul li a.contact {

  width: 100px;
  background-color: #5DA2D5;
}

header ul li a.contact:hover {

  width: 100px;
  background-color: #5DA2D5;
}

/* FOOTER -- */

footer { 

  min-height:50px; 
  background:#ECECEC; 
  position: bottom;
  overflow: hidden;
  padding-top:0px;
  cursor: default;


}

footer ul {

  overflow: hidden;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

footer ul li.end-logo {

    color:#070707;
    text-align: center;
    font-size: 30px;
    cursor: default; 
    margin-bottom: 0px;
}

footer ul li.copyright {

  color:#070707;
  text-align: center;
  font-size: 30px;
  cursor: pointer; 
}

/* BODY --------------------------------- */

article {
  background-color: #ECECEC ;
}

article.home {
  
  background-color: #F78888;
}

article.projects {
  background-color: #F3D250;

}

article.content {
  background-color: #F3D250;
}

article.about {
  background-color: #90CCF4;
}

article.contact {

  display: grid;
  place-items: center;  
  text-align: center;
  background-color: #5DA2D5;
}
