@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

a {
    cursor: pointer;    
    text-decoration: none;
    color: #F78888;
}

p {
    line-height: 15%;
}

.title {

    line-height: 75%;
    word-wrap: break-word;
    font-size: 175px;
    cursor: pointer;
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color:#070707
}

.subtitle {

    line-height: 75%;
    word-wrap: break-word;
    font-size: 125px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-left: 110px;
    padding-right: 110px;
    color:#ECECEC
}

.date {

    word-wrap: break-word;
    font-size: 75px;
    cursor: pointer;
    text-align: right;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    color:#90CCF4;
}

.title:hover, .subtitle:hover, .date:hover {

    color:#5DA2D5;
}

.everything {

    color:#F3D250;
}

.everything:hover {

    
    color:#5DA2D5;

}

.center {

    margin:0%;
    text-align: center;
}

.content {

    margin-top: 0px;
    font-size: 175px;
    cursor: default;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    color:#070707
}



.disabled-link:hover {

    color:#F3D250;
}

.content div {

    color:#5DA2D5;
    font-size: 75px;
}

.footer-end {

    cursor: default;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 175px;
    cursor: default;
    text-align: center;
    color:#070707
}

.topnav {
    
    overflow: hidden;
    background-color: #ECECEC;
    position: -webkit-sticky;
    position: sticky;
}


.topnav a {
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a.home.clicked {
    background-color: #F78888;
}

.topnav a.projects.clicked {
    background-color: #F3D250;
}

.topnav a.about.clicked {
    background-color: #90CCF4;
}

.topnav a.contact.clicked {
    background-color: #5DA2D5;
}


.topnav a.home:hover {
    background-color: #F78888;

}

.topnav a.projects:hover {
    background-color: #F3D250;
    color: rgb(0, 0, 0);
}

.topnav a.about:hover {
    background-color: #90CCF4;
    color: rgb(0, 0, 0);
}
.topnav a.contact:hover {
    background-color: #5DA2D5;
    color: rgb(0, 0, 0);
}


.home.background {
    background-color: #F78888;
}

.projects.background {
    background-color: #F3D250;
}

.about.background {
    background-color: #90CCF4;
}

.contact.background {
    background-color: #5DA2D5;
}

.topnav-middle {

    float:none;
    text-align: center;
    font-size: 30px;
    cursor: default;

}

.topnav-right {
    float: right;
}


table {

    padding-top: 100px;
}

table tr th {

    cursor: default;
    font-size: 200px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 100px;
}

table tr th.start {

    text-align: right;
}

table tr th.q {

    font-size: 75px;
    text-align: right;

}



