<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Mateusz Buziak</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/404.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='/favicon/site.webmanifest') }}">

</head>

<body>

<!-- ARTICLE (!) -->
  <article>
    <div class="notfound">
      <div class="centered"><span class="inverted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;</div>
      <div class="centered"><span class="inverted">&nbsp;4&nbsp;0&nbsp;4&nbsp;</span><span class="shadow">&nbsp;</span></div>
      <div class="centered"><span class="inverted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="shadow">&nbsp;</span></div>
      <div class="centered">&nbsp;<span class="shadow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      <div class="row">&nbsp;</div>
      <div class="row"> &lt;mateuszbuziak&gt; A fatal exception 404 has occurred at C0DE:ABAD1DEA in 0xC0DEBA5E.</div>
      <div class="row">The current request will be terminated.</div>
      <div class="row">&nbsp;</div>
      <div class="row">* Press any key to return to the previous page.</div>
      <div class="row">* Press CTRL+ALT+DEL to restart your computer. You will</div>
      <div class="row">&nbsp;&nbsp;lose any unsaved information in all applications.  &lt;/mateuszbuziak&gt;</div>
      <div class="row">&nbsp;</div>
      <div class="centered">Press <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a> return to the home page...<span class="blink">&#9608;</span></div>
      <div class="centered"> <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a></div>
      <div class="centered"> <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a></div>
      <div class="centered"> <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a></div>
      <div class="centered"> <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a></div>
      <div class="centered"> <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a></div>
      <div class="centered"> <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a></div>
      <div class="centered"> <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a></div>
      <div class="centered"> <a class="nostyle" href=" {{ url_for('index') }} ">&gt;&gt;Home&lt;&lt;</a></div>
  </div>
  </article>
    
</body>
</html>