<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Mateusz Buziak</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/main.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/about.css') }}">

</head>

<body>

<!-- HEADER -->
  <header class="about">
    <ul>
      <li class="left">
        <a class="home" href=" {{ url_for('index') }} ">Home</a>
      </li>
      <li class="left">
        <a class="projects" href=" {{ url_for('projects') }} ">Projects</a>
      </li>
      <li class="right">
        <a class="contact" href=" {{ url_for('contact') }} ">Contact</a>        
      </li>
      <li class="right">
        <a class="about" href=" {{ url_for('about') }} ">About</a>
      </li>
      <li class="mid">
        &lt;mateuszbuziak&gt;       
      </li>
    </ul>
  </header>

<!-- ARTICLE (!) -->
  <article class="about">
    <div class="center">
      <div class="text">
        <div class="question">
          Who am I?
        </div>
        <div></div>
        <div>
          I am a curious person who is able to learn quickly and learn new technologies. I have the ability to make new
          contacts and work in a team. Discipline and passion for finding new solutions, as well as a love of order
          make me well versed in many areas of computer science. I am proficient in Python (Certified ), SQL (Certified),
          Tableau, Excel, R programming language. I regularly work on various Python projects, the results of which
          can be seen on GitHub (link below). My goal is to work as a Data Engineer and collaborate with ambitious,
          experienced analysts.
        </div>
      </div>
    </div>
  </article>

<!-- FOOTER -->
  <footer>
    <ul>
      <li class="end-logo">
        &lt;/mateuszbuziak&gt;
      </li>
      <li>
        Copyright &copy; Mateusz Buziak 2022
      </li>
    </ul>
  </footer>

</body>
</html>