<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Mateusz Buziak</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/main.css') }}">

</head>

<body>

<!-- HEADER -->
  <header>
    <ul>
      <li class="left">
        <a class="home" href=" {{ url_for('index') }} ">Home</a>
      </li>
      <li class="left">
        <a class="projects" href=" {{ url_for('projects') }} ">Projects</a>
      </li>
      <li class="right">
        <a class="contact" href=" {{ url_for('contact') }} ">Contact</a>        
      </li>
      <li class="right">
        <a class="about" href=" {{ url_for('about') }} ">About</a>
      </li>
      <li class="mid">
        &lt;mateuszbuziak&gt;       
      </li>
    </ul>
  </header>

<!-- ARTICLE (!) -->
  <article>
    <div>
        <div>
          <div>
            <form name="addForm" id="addForm" method="POST" action="{{ url_for('addproject') }}" novalidate>
              <div>
                <div>
                  <label>Title</label>
                  <input type="text" class="form-control" placeholder="Title" name="title" id="title" required data-validation-required-message="Please enter a title.">
                  <p></p>
                </div>
              </div>
              <div>
                <div>
                  <label>Subtitle</label>
                  <input type="text" class="form-control" placeholder="Subtitle" name="subtitle" id="subtitle" required data-validation-required-message="Please enter your email address.">
                  <p></p>
                </div>
              </div>
              <div>
                <div>
                  <label>Blog Content</label>
                  <textarea rows="5" class="form-control" placeholder="Blog content" name="content" id="content" required data-validation-required-message="Please enter a message."></textarea>
                  <p></p>
                </div>
              </div>
              <br>
              <div></div>
              <div>
                <button type="submit" class="btn btn-secondary" id="sendMessageButton">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </article>

<!-- FOOTER -->
  <footer>
    <ul>
      <li class="end-logo">
        &lt;/mateuszbuziak&gt;
      </li>
      <li>
        Copyright &copy; Mateusz Buziak 2022
      </li>
    </ul>
  </footer>

</body>
</html> 