<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mateusz Buziak</title>

    <link rel= "stylesheet" type= "text/css" href= "main.css">

</head>
<body class="contact background" >
    
    <nav class="topnav">

        <a class="home" href="index.html">Home</a>
        <a class="projects" href="projects.html">Projects</a>

    <nav class="topnav-right">
        <a class="about" href="about.html">About me</a>
        <a class="contact clicked" class="contact" href="contact.html">Contact</a>
    </nav>
        
        
</nav>

</body>
</html>