<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Mateusz Buziak</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/main.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/contact.css') }}">

</head>

<body>

<!-- HEADER -->  
  <header class="contact">
    <ul>
      <li class="left">
        <a class="home" href=" {{ url_for('index') }} ">Home</a>
      </li>
      <li class="left">
        <a class="projects" href=" {{ url_for('projects') }} ">Projects</a>
      </li>
      <li class="right">
        <a class="contact" href=" {{ url_for('contact') }} ">Contact</a>        
      </li>
      <li class="right">
        <a class="about" href=" {{ url_for('about') }} ">About</a>
      </li>
      <li class="mid">
        &lt;mateuszbuziak&gt;       
      </li>
    </ul>
  </header>

<!-- ARTICLE (!) -->
  <article class="contact">
    <h2>
      Contact
    </h2>
    <form>      
      <input name="name" type="text" class="feedback-input" placeholder="Name" />   
      <input name="email" type="text" class="feedback-input" placeholder="Email" />
      <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
      <input type="submit" value="SUBMIT"/>
    </form>
  </article>

<!-- FOOTER -->
  <footer>
    <ul>
      <li class="end-logo">
        &lt;/mateuszbuziak&gt;
      </li>
      <li>
        Copyright &copy; Mateusz Buziak 2022
      </li>
    </ul>
  </footer>

</body>
</html>