<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mateusz Buziak</title>
        
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/main.css') }}">
    
</head>

<body class="projects background">
    
  <!-- Content -->
    <nav class="topnav">

        <a class="home" class="home"  href=" {{ url_for('index') }} ">Home</a>
        <a class="projects" href=" {{ url_for('projects') }} ">Projects</a>

    <nav class="topnav-middle">
    &lt;mateuszbuziak&gt;


    <nav class="topnav-right">
        <a class="about" href=" {{ url_for('about') }} ">About me</a>
        <a class="contact clicked" href=" {{ url_for('contact') }} ">Contact</a>

    </nav>
    </nav>
    </nav>
  
    
    <!-- Content -->
    <article>

        <div class="content">
        {{ post.content|safe }}
        </div>

    </article>


    <!-- Footer -->
    <div style="margin-bottom:100px"></div>
    

    <footer>
      <div>
        <div class="topnav">
          <div class="footer-end">
            &lt;/mateuszbuziak&gt;
          </div>
          <div>
            Copyright &copy; Mateusz Buziak 2022
          </div>
        </div>
      </div>
    </footer>



</body>
</html>