<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Mateusz Buziak</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/main.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/home.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  
</head>

<body>

<!-- HEADER -->
  <header class="home">
    <ul>
      <li class="left">
        <a class="home" href=" {{ url_for('index') }} ">Home</a>
      </li>
      <li class="left">
        <a class="projects" href=" {{ url_for('projects') }} ">Projects</a>
      </li>
      <li class="right">
        <a class="contact" href=" {{ url_for('contact') }} ">Contact</a>        
      </li>
      <li class="right">
        <a class="about" href=" {{ url_for('about') }} ">About</a>
      </li>
      <li class="mid">
        &lt;mateuszbuziak&gt; 
      </li>
    </ul>
  </header>

<!-- ARTICLE (!) -->
  <article class="home">
    <h1>
      <span>There</span>
      <span>are</span>
      <span>no</span>
      <span>limits</span>
      <span>to</span>
      <span>what</span>
      <span>you</span>
      <span>can</span>
      <span>accomplish,</span>
      <span>except</span>
      <span>the</span>
      <span>limits</span>
      <span>you</span>
      <span>place</span>
      <span>on</span>
      <span>your</span>
      <span>own</span>
      <span>thinking.</span>
    </h1>
  </article>

<!-- FOOTER -->
  <footer>
    <ul>
      <li class="end-logo">
        &lt;/mateuszbuziak&gt;
      </li>
      <li>
        Copyright &copy; Mateusz Buziak 2022
      </li>
    </ul>
  </footer>

</body>
</html> 