<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mateusz Buziak</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/main.css') }}">
    {% block head %}{% endblock %}

</head>


<body class="home background">

   
    <nav class="topnav">

            <a class="home clicked" class="home"  href=" {{ url_for('index') }} ">Home</a>
            <a class="projects" href=" {{ url_for('projects') }} ">Projects</a>

        <nav class="topnav-right">
            <a class="about" href=" {{ url_for('about') }} ">About me</a>
            <a class="contact" href=" {{ url_for('contact') }} ">Contact</a>
        </nav>
            
            
    </nav>

    <div>

            <table>
                <tr>
                    <th class="start">
                        ”
                    </th>
                    <th>
                        Data really powers   
                    </th>

                
                </tr>
                <tr>
                    <th>

                    </th>                
                    <th>
                        <span style="color:#FED250">everything </span>  we do  
                    </th>

                </tr>
                <tr>
                    <th></th>

                    <th class="q">
                        — Jeff Weiner 
                    </th>
                </tr>
            </table>

    </div>

</body>
</html>