<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style/contact.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/favicon/site.webmanifest') }}">
</head>
<body>
    <article class="contact">
        <div class="margin-top">
            <form method="POST">
                <h1>LOGIN</h1>
                <h2>ADMIN PANEL</h2>
                <input type="username" class="feedback-input" placeholder="username" name="username" required/>
                <input type="password" class="feedback-input" placeholder="password" name="password" required/>
                <button type="submit">submit</button>

                {% if failed %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    Incorrect, try again.
                  </div>
                {% endif %}
            </form>
        </div>
    </article>
</body>
</html>