@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    
}


.topnav {
    overflow: hidden;
    background-color: #ECECEC;
    position: -webkit-sticky;
    position: sticky;
}


.topnav a {
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a.home.clicked {
    background-color: #F78888;
}

.topnav a.projects.clicked {
    background-color: #F3D250;
}

.topnav a.about.clicked {
    background-color: #90CCF4;
}

.topnav a.contact.clicked {
    background-color: #5DA2D5;
}


.topnav a.home:hover {
    background-color: #F78888;

}

.topnav a.projects:hover {
    background-color: #F3D250;
    color: rgb(0, 0, 0);
}

.topnav a.about:hover {
    background-color: #90CCF4;
    color: rgb(0, 0, 0);
}
.topnav a.contact:hover {
    background-color: #5DA2D5;
    color: rgb(0, 0, 0);
}


.home.background {
    background-color: #F78888;
}

.projects.background {
    background-color: #F3D250;
}

.about.background {
    background-color: #90CCF4;
}

.contact.background {
    background-color: #5DA2D5;
}


.topnav-right {
    float: right;
}


table {

    padding-top: 100px;
}

table tr th {

    font-size: 200px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 100px;
}

table tr th.start {

    text-align: right;
}

table tr th.q {

    font-size: 75px;
    text-align: right;

}

